@include b("header-mobile") {
    display: flex;
    height: 2em;
    align-items: center;
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
    @include grid-media($smdesktop) {
        display: none;
    }
}

@include b("menu-mobile") {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background: color(white);
    z-index: 10;
    text-align: center;
    @include grid-media($smdesktop) {
        display: none;
    }
    body.js-mobile-menu-open & {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    li {
        list-style-type: none;
    }
}

$toggle-size: 25px;

@include b("hamburger") {
    position: absolute;
    top: #{map-get($neat-grid, gutter)};
    right: #{map-get($neat-grid, gutter)};
    z-index: 20;
    display: block;
    @include grid-media($smdesktop) {
        display: none;
    }
    button {
        position: relative;
        display: inline-block;
        padding: 0;
        height: $toggle-size;
        width: $toggle-size;
        background: none;
        border: none;
        cursor: pointer;
        outline: 0;
        span {
            position: absolute;
            display: block;
            height: 2px;
            width: 100%;
            background: color(black);
            transition: top 0.2s 0.2s linear, opacity 0.1s 0.2s linear,
                transform 0.2s linear;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 8px;
            }
            &:nth-child(3) {
                top: 16px;
            }
            body.js-mobile-menu-open & {
                top: 8px;
                transition: top 0.2s linear, opacity 0.1s 0.2s linear,
                    transform 0.2s 0.2s linear;
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
